.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;
}

main {
    flex: 1;
}

@media (max-width: 640.98px) {
    .content-wrapper {
        padding: 0 1rem;
    }
}

