<nav class="top-navbar navbar navbar-dark">
    <div class="navbar-inner">
        <a class="navbar-brand" href="">NaeRaces</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="club/create">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Club
                    </NavLink>
                </li>
            </ul>
            <div class="navbar-login">
                <LoginDisplay />
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
